

.statistics-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.exercise-area {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.exercise-area-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //baseline
    align-items: center;
}

ion-select {
    --background: var(--teal500);
    --color: var(--grey700);
    --placeholder-color: var(--grey700);
    --icon-color: var(--grey700);
    --border-radius: 20px;
    --placeholder-opacity: 1;

    /* Centering the text */
    --padding-start: 20px; /* Adjust as needed */
    --padding-end: 20px; /* Adjust as needed */
}

ion-select::part(text) {
    color: var(--grey700);
    opacity: 1;
    margin: 10px;
    align-self: center;
    font-weight: bold;
}

ion-select::part(icon) {
    color: var(--grey700);
    opacity: 1;
}


.exercise-button{
    color: var(--grey700);
    //hover effect
    &:hover {
        background-color: white;
    }
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 16px;
    border-radius: 20px;
    padding: 10px;
    background-color: var(--teal500);
    text-align: center;
}

