<ion-content [fullscreen]="true">
  <div class="page">
      <div class="principal-header">
          <ion-avatar class="profile-pic">
            <!--User's image-->
            <img
              [src]="user.profile_pic"
              alt="User's image"
            />
          </ion-avatar>
          <ion-text>
            <p class="text-title-white">{{user.todayPoints}} / {{user.goalPoints}} pts</p>
          </ion-text>
      </div>

      <div class="area-sesiones">
        <div class="title-sesiones">
          <p class="text-title-white">Tu actividad hoy </p>
          <ion-icon class="icon-add-circle" size="large" name="add-circle"></ion-icon>
        </div>
        <div class="listado-sesiones">
          <ion-list>
            <ion-item *ngFor="let sesion of user.todaySessions">
              <ion-button class="boton-sesion" expand="block">{{sesion.name}}</ion-button>
            </ion-item>
          </ion-list>
        </div>
      </div>

    <div class="boton-analiticas">
        <ion-text>
          <p class="text-title-grey">Analiticas</p>
        </ion-text>
        <ion-icon class="icon-bar-chart" size="large" name="bar-chart"></ion-icon>
    </div>  
  </div>


</ion-content>






