<ion-content [fullscreen]="true">
  <div class="page">
    <div class="arrow-back-area">
      <ion-icon class="arrow-back" size="large" name="arrow-back" (click)="onClickBack()"></ion-icon>
    </div>
    <div class="ejercicio-main-content">
      <p class="text-white">Estadisticas</p>
      <p class="text-title-white">{{ejercicio.nombre}}</p>

      <div class="ejercicio-stats">
        <div class="ejercicio-stats-item">
          <p class="ejercicio-stats-value">12650</p>
          <p class="ejercicio-stats-label">Kgs movidos</p>
        </div>
        <div class="ejercicio-stats-item">
          <p class="ejercicio-stats-value">120kgs</p>
          <p class="ejercicio-stats-label">Máxima esperada</p>
        </div>
      </div>

      <div>
        <div class="graph-container" style="display: block;">
          <canvas baseChart width="350" height="100"
            [type]="'line'"
            [data]="repMaxLineChart"
            [options]="lineChartOptions"
            [legend]="lineChartLegend">
          </canvas>
          <p class="text-title-white">Repeticion máxima</p>
        </div>
        <div class="graph-container" style="display: block;">
          <canvas baseChart width="350" height="100"
            [type]="'line'"
            [data]="pesoEfectivoLineChart"
            [options]="lineChartOptions"
            [legend]="lineChartLegend">
          </canvas>
          <p class="text-title-white">Peso efectivo</p>
        </div>
        <div class="graph-container" style="display: block;">
          <canvas baseChart width="350" height="100"
            [type]="'line'"
            [data]="volumenTotalLineChart"
            [options]="lineChartOptions"
            [legend]="lineChartLegend">
          </canvas>
          <p class="text-white">Volumen por sesión</p>
        </div>
      </div>


    </div>
  </div>
</ion-content>
