<ion-content [fullscreen]="true">
  <div class="page">
    <div class="arrow-back-area">
      <ion-icon class="arrow-back" name="arrow-back" (click)="onClickArrowBack()" routerLink="/principal"></ion-icon>
    </div>
    <div class="find-exercise-content">
      <p class="text-title-white">Añadir ejercicio</p>

      <ion-item>
        <ion-select placeholder="Ordenar por:" interface="popover" aria-label="Ordenar por" class="select">
          <ion-select-option value="peso-max">Peso máximo</ion-select-option>
          <ion-select-option value="grupo-muscular">Grupo muscular</ion-select-option>
          <ion-select-option value="orden-alfa">Orden alfabético</ion-select-option>
          <ion-select-option value="volumen-medio">Volumen medio</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-searchbar class="custom" placeholder="Buscar ejercicio"></ion-searchbar>

      
      <ion-list class="exercises-list">
        <ion-item *ngFor="let exercise of exercises" class="exercise-entry">
          <div class="exercise-item">
            <p (click)="openDialog()" >{{exercise}}</p>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </div>


<script>
  var modal = document.querySelector('ion-modal');

  function dismiss() {
    modal.dismiss();
  }
</script>

</ion-content>
